body {
  font-family: 'Georgia', serif;
  background-color: #fdfdfd;
  color: #222;
  margin: 0;
  padding: 0;
}

main {
  max-width: 360px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  
}

hr {
  border: none;
  border-top: 1px solid #aaa;
  margin-bottom: 20px;
}

section {
  margin-bottom: 25px;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
}

